.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 350px;

  .Image {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }

  .Bottom {
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    align-self: flex-start;

    h3 {
      font-size: 20px;
      margin: 0;
    }
    p {
      font-size: 13px;
      margin: 0;
      margin-top: 5px;
    }

    .Author {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__Image {
        border-radius: 100%;
      }

      &__Name {
        font-size: 12px;
        opacity: 1;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
